@inherits LayoutComponentBase

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="XBRL Inspector" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <!-- Material icon list at https://fonts.google.com/icons -->
        <RadzenPanelMenu>
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="load">
                <RadzenPanelMenuItem Text="Load" Icon="upload_file" />
            </NavLink>
            @if(ShowMenuItems == true)
            {
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
                </NavLink>
                fragmentIndex = 0;
                @foreach(var currentXbrlFragment in XbrlDoc!.XbrlFragments)
                {
                    var currentFragmentIndex = fragmentIndex;
                    <RadzenPanelMenuItem Text="Fragment" Icon="article">
                    @if(currentXbrlFragment.Facts.Count > 0)
                    {
                        var hrefDestination = "fact/" + currentFragmentIndex;
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                            <RadzenPanelMenuItem Text="Facts" Icon="dataset" />
                        </NavLink>                                
                    }
                    @if(currentXbrlFragment.Units.Count > 0)
                    {
                        var hrefDestination = "unit/" + currentFragmentIndex;
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                            <RadzenPanelMenuItem Text="Units" Icon="account_balance" />
                        </NavLink>                             
                    }
                    @if(currentXbrlFragment.Contexts.Count > 0)
                    {
                        var hrefDestination = "context/" + currentFragmentIndex;
                        <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                            <RadzenPanelMenuItem Text="Contexts" Icon="calendar_month" />
                        </NavLink>                       
                    }
                    </RadzenPanelMenuItem>
                    fragmentIndex++;
                }
            }
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
<RadzenComponents />

@code
{
    [CascadingParameter]
    public XbrlDocument? XbrlDoc { get; set; }

    bool sidebarExpanded = true;
    bool ShowMenuItems = false;
    int fragmentIndex = 0;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        MessageBroker.Instance.Subscribe<XbrlDocumentLoaded>(OnXbrlDocumentLoaded);
    }

    private void OnXbrlDocumentLoaded(MessagePayload<XbrlDocumentLoaded> payload)
    {
        ShowMenuItems = true;
        InvokeAsync(StateHasChanged);
    }
}
