@inherits LayoutComponentBase

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="XBRL Inspector" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <!-- Material icon list at https://fonts.google.com/icons -->
        <RadzenPanelMenu>
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="load">
                <RadzenPanelMenuItem Text="Load" Icon="upload_file" />
            </NavLink>
            @if(ShowMenuItems == true)
            {
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
                    <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
                </NavLink>
                @foreach(var currentXbrlFragment in XbrlDoc!.XbrlFragments)
                {
                    <RadzenPanelMenuItem Text="Data" Icon="article">
                        @{
                            var fragmentId = FragmentMap!.Add(currentXbrlFragment);
                            if(currentXbrlFragment.Facts.Count > 0)
                            {
                                var hrefDestination = "fact/" + fragmentId;
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                                    <RadzenPanelMenuItem Text="Facts" Icon="dataset" />
                                </NavLink>                                
                            }
                            if(currentXbrlFragment.Units.Count > 0)
                            {
                                var hrefDestination = "unit/" + fragmentId;
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                                    <RadzenPanelMenuItem Text="Units" Icon="account_balance" />
                                </NavLink>                             
                            }
                            if(currentXbrlFragment.Contexts.Count > 0)
                            {
                                var hrefDestination = "context/" + fragmentId;
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                                    <RadzenPanelMenuItem Text="Contexts" Icon="calendar_month" />
                                </NavLink>                       
                            }
                        }
                    </RadzenPanelMenuItem>
                }
                @if(SchemasAvailable() == true)
                {
                    <RadzenPanelMenuItem Text="Schemas" Icon="schema">                
                    @foreach(var currentXbrlFragment in XbrlDoc!.XbrlFragments)
                    {
                        if(currentXbrlFragment.Schemas.Count > 0)
                        {
                            foreach(var currentSchema in currentXbrlFragment.Schemas)
                            {
                                var schemaId = SchemaMap!.Add(currentSchema);
                                var schemaUri = new Uri(currentSchema.LoadPath);
                                var schemaFileName = schemaUri.Segments[schemaUri.Segments.Length - 1];
                                var hrefDestination = "schema/" + schemaId;
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                                    <RadzenPanelMenuItem Text=@schemaFileName Icon="schema" />
                                </NavLink>             
                            }
                        }
                    } 
                    </RadzenPanelMenuItem>
                }
                @if(CalculationLinkbasesAvailable() == true)
                {
                    <RadzenPanelMenuItem Text="Calculations" Icon="calculate">                
                    @foreach(var currentXbrlFragment in XbrlDoc!.XbrlFragments)
                    {
                        if(currentXbrlFragment.Schemas.Count > 0)
                        {
                            foreach(var currentSchema in currentXbrlFragment.Schemas)
                            {
                                foreach(var currentCalculationLinkbase in currentSchema.CalculationLinkbases)
                                {
                                    foreach(var currentCalculationLink in currentCalculationLinkbase.CalculationLinks)
                                    {
                                        var calculationLinkId = CalculationLinkMap!.Add(currentCalculationLink);
                                        var hrefDestination = "calclink/" + calculationLinkId;
                                        <NavLink class="nav-link" Match="NavLinkMatch.All" href=@hrefDestination>
                                            <RadzenPanelMenuItem Text="Calculation" Icon="calculate" />
                                        </NavLink>     
                                    }                             
                                }      
                            }
                        }
                    } 
                    </RadzenPanelMenuItem>
                }        
            }
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
<RadzenComponents />

@code
{
    [CascadingParameter] public XbrlDocument? XbrlDoc { get; set; }
    [CascadingParameter] public XbrlFragmentMap? FragmentMap { get; set; }
    [CascadingParameter] public XbrlSchemaMap? SchemaMap { get; set; }
    [CascadingParameter] public CalculationLinkMap? CalculationLinkMap { get; set;}

    bool sidebarExpanded = true;
    bool ShowMenuItems = false;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        MessageBroker.Instance.Subscribe<XbrlDocumentLoaded>(OnXbrlDocumentLoaded);
    }

    private void OnXbrlDocumentLoaded(MessagePayload<XbrlDocumentLoaded> payload)
    {
        ShowMenuItems = true;
        InvokeAsync(StateHasChanged);
    }

    private bool SchemasAvailable()
    {
        foreach(var currentFragment in XbrlDoc!.XbrlFragments)
        {            
            if(currentFragment.Schemas.Count > 0)
            {
                return true;
            }
        }
        return false;
    }

    private bool CalculationLinkbasesAvailable()
    {
        foreach(var currentFragment in XbrlDoc!.XbrlFragments)
        {            
            foreach(var currentSchema in currentFragment.Schemas)
            {
                if(currentSchema.CalculationLinkbases.Count() > 0)
                {
                    return true;
                }
            }
        }
        return false;
    }
}
