@inherits LayoutComponentBase

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="XBRL Inspector" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <!-- Material icon list at https://fonts.google.com/icons -->
        <RadzenPanelMenu>
            <NavLink class="nav-link" Match="NavLinkMatch.All" href="load">
                <RadzenPanelMenuItem Text="Load" Icon="upload_file" />
            </NavLink>
            @if(ShowMenuItems == true)
            {
                <NavLink class="nav-link" Match="NavLinkMatch.All" href="">
                    <RadzenPanelMenuItem @bind-Visible="ShowMenuItems" Text="Dashboard" Icon="dashboard" />
                </NavLink>
                foreach(var currentXbrlFragment in XbrlDoc!.XbrlFragments)
                {
                    <NavLink class="nav-link" Match="NavLinkMatch.All">
                        <RadzenPanelMenuItem @bind-Visible="ShowMenuItems" Text="Fragment" Icon="article">
                            @if(@currentXbrlFragment.Facts.Count > 0)
                            {
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href="fact">
                                    <RadzenPanelMenuItem @bind-Visible="ShowMenuItems" Text="Facts" Icon="dataset" />
                                </NavLink>                                
                            }
                            @if(@currentXbrlFragment.Units.Count > 0)
                            {
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href="unit">
                                    <RadzenPanelMenuItem @bind-Visible="ShowMenuItems" Text="Units" Icon="account_balance" />
                                </NavLink>                             
                            }
                            @if(@currentXbrlFragment.Contexts.Count > 0)
                            {
                                <NavLink class="nav-link" Match="NavLinkMatch.All" href="context">
                                    <RadzenPanelMenuItem @bind-Visible="ShowMenuItems" Text="Contexts" Icon="calendar_month" />
                                </NavLink>                       
                            }
                        </RadzenPanelMenuItem>
                    </NavLink>                    
                }
            }
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
<RadzenComponents />

@code
{
    [CascadingParameter]
    public XbrlDocument? XbrlDoc { get; set; }

    bool sidebarExpanded = true;
    bool ShowMenuItems = false;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        MessageBroker.Instance.Subscribe<XbrlDocumentLoaded>(OnXbrlDocumentLoaded);
    }

    private void OnXbrlDocumentLoaded(MessagePayload<XbrlDocumentLoaded> payload)
    {
        ShowMenuItems = true;
        InvokeAsync(StateHasChanged);
    }
}
