@page "/Validation"
@using XBRLInspector.Blazor.Models

<h3>Validation</h3>

@if (XbrlDocumentCacheModel.Instance.IsValid)
{
        <p>The document at @XbrlDocumentCacheModel.Instance.Filename is valid according to the XBRL 2.1 specification.</p>
}

@if (!XbrlDocumentCacheModel.Instance.IsValid)
{
        <p>The document at @XbrlDocumentCacheModel.Instance.Filename is not valid according to the XBRL 2.1 specification.</p>
        <p>Number of validation errors: <b>@XbrlDocumentCacheModel.Instance.ValidationErrors.Count</b></p>
        <ul>
            @foreach (var validationError in XbrlDocumentCacheModel.Instance.ValidationErrors)
            {
                <li>@validationError.Message</li>
            }
        </ul>
}
